nav {  
    font-size: large;
    background-image: url('../../assets/Other.png');
    background-size: cover;
    background-color: black;
    opacity: 70%;
    position: fixed;
    width: 100%;
    height: 600px;
}